:root {
  --primary-color: #060a1a;
  --opaqueprimary-color: rgba(6, 10, 26, 0.8);
  --secondary-color: white;
  --opacesecondary-color: rgba(255, 255, 255, 0.8);
  --border-color: white;
}

body {
  font-family: monospace;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#questions-container {
  width: 70%;
  cursor:default;
}

#side-bar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.side-bar-button{
  width: 100%;
  height: 100%;
  text-decoration: none;
}
