:root {
  --primary-color: #060a1a;
  --opaqueprimary-color: rgba(6, 10, 26, 0.8);
  --secondary-color: white;
  --opacesecondary-color: rgba(255, 255, 255, 0.8);
  --border-color: white;
}

body {
  overflow-x: hidden;
  font-family: monospace;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.index-title{
  padding: 5rem;
  margin-bottom: 5rem;
}


.project-description {
  width: 55%;
  margin-top: 3rem;
  text-align: center;
  font-size: xx-large;
}

.big-button {
  width: 45%;
  background-color: white;
  color: black;
  cursor: pointer;
}

.hompage-row {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.file {
  margin-left: 3rem;
  width: fit-content;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .index-title {
    padding: 2rem;
    margin-bottom: 0rem;
  }
  .project-description{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .big-button{
    width: 100%;
  }
  .hompage-row{
    flex-direction:column;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
  }

  .about-me{
    flex-direction: column-reverse;
  }
}
