:root {
  --primary-color: #060a1a;
  --opaqueprimary-color: rgba(6, 10, 26, 0.8);
  --secondary-color: white;
  --opacesecondary-color: rgba(255, 255, 255, 0.8);
  --ternary-color: #d42dc8;
  --border-color: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: monospace;

  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}

#top-left {
  width: 45%;
}

#top-center {
  width: 25%;
  justify-content: center;
  font-size: 1.5rem;
}

#top-right {
  flex-grow: 1;
}

.top-bar {
  background-color: var(--primary-color);
  display: flex;
  width: 100%;
  z-index: 3;
}

.top-bar > div {
  display: flex;
  height: 100%;
}

.no-transition{
  transition: none !important;
}


#main {
  position: relative;
  background-color: var(--primary-color);
  flex-grow: 1;
  width: 100%;
}

#main > article {
  position: absolute;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 1fr;
  transition: transform 1.5s;
  left: 0px;
  top: 0px;
}

#main > article[data-status="left"] {
  transform: translateX(-100%);
}

#main > article[data-status="right"] {
  transform: translateX(100%);
}

#main > article[data-status="active"] {
  transform: translateX(0);
}

.display {
  background-color: var(--primary-color);
}

.bottom-text {
  background-color: var(--secondary-color);
}

.right-text {
  background-color: var(--secondary-color);
}

.nav-tab {
  background-color: var(--secondary-color);
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}
.top-bar-button {
  width: 100%;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  height: 8vh;
}

.button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: 0.3s;
}

.arrow {
  width: 100%;
  height: 100%;
}

.project-links{
  height: 8rem;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* You can set the background color to your preference */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  font-size: 40px;
  color: #000; /* You can set the color to your preference */
}

@media screen and (max-width: 800px) {
  #transcoder-article{
      grid-template-columns: 1fr !important;
      grid-template-rows: 2fr 1fr 1fr  !important;
  }

  .bottom-left-transcoder{
    display: none;
  }
}
