

#twitch-clip-information {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 3.25rem;
}
#twitch-clip-output {
  background-color: var(--secondary-color);
}
.information {
  font-size: 1.15rem;
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  width: 100%;
  padding-top: 2rem;
  padding-left: 3.25rem;
  padding-right: 3.25rem;
  padding-bottom: 2rem;
}

/* Styles for the technologies container */
#technologies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* Styles for the logos */
.logo {
  height: 3rem;
  width: auto;
}

.twitch-links{
  margin-top: 3rem;
}

@media screen and (max-width: 800px) {
  #twitch-clip-art {
    grid-template-columns:  1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr !important;
  }
  .information{
    border: none;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  #twitch-clip-information{
    padding:1rem;
  }
  .twitch-links{
    margin-top: 0;
  }
  .twitch-technologies{
    display: none;
  }
}
